{{ range .Site.Params.publication.list }}
<dl>
  <dt>{{ .dates1 }} &middot; {{ .college1 }}</dt>
  <dd class="mb-0 ml-3">{{ .degree1 }}</dd>
  <dd class="mb-0 ml-4">{{ .code1 }} <!--&middot;--> {{ .spec1 }}</dd>
  {{ if .thesis_link }}
  <dd class="mb-0 ml-4">
    Thesis1:
    <a href="{{ .thesis_link1 }}"
      ><i>{{ .thesis_title1 }}</i></a
    >
  </dd>
  {{ end }}
</dl>
{{ end }}




<!-- {{ if .Site.Params.publication.types }}
{{ range.Site.Params.publication.types }}
{{ $type := . }}
 <h4 style="text-decoration: underline;">{{ $type }}</h4> 
{{- range $.Site.Params.publication.list -}}
{{ if eq $type .type }}
{{- $this_publication := . -}}
<p>
  {{- range $.Site.Params.publication.format -}}
  {{- partial "accordion/supportingPartials/addTitle" (dict "all" $this_publication "ind" .) -}}
  {{- end -}}
</p>
{{ end }}
{{- end -}}
{{ end }}

{{ else }}

{{- range $.Site.Params.publication.list -}}
{{- $this_publication := . -}}
<p>
  {{- range $.Site.Params.publication.format -}}
  {{- partial "addTitle" (dict "all" $this_publication "ind" .) -}}
  {{- end -}}
</p>
{{ end }}
{{ end }} -->


